- email = local_assigns.fetch(:email, false)
- plain = local_assigns.fetch(:plain, false)
- discussions = local_assigns.fetch(:discussions, nil)
- type = line.type
- line_code = diff_file.line_code(line)
- if discussions && !line.meta?
  - discussion = discussions[line_code]
%tr.line_holder{ plain ? { class: [type, ("js-no-comment-btn" if discussion && !plain)]} : { class: [type, ("js-no-comment-btn" if discussion && !plain)], id: line_code } }
  - case type
  - when 'match'
    = diff_match_line line.old_pos, line.new_pos, text: line.text
  - when 'nonewline'
    %td.old_line.diff-line-num
    %td.new_line.diff-line-num
    %td.line_content.match= line.text
  - else
    %td.old_line.diff-line-num{ class: type, data: { linenumber: line.old_pos } }
      - link_text = type == "new" ? " " : line.old_pos
      - if plain
        = link_text
      - else
        %a{href: "##{line_code}", data: { linenumber: link_text }}
      - if discussion && !plain
        - avatars_to_display = 3
        - comments_left_over = discussion.notes.size - avatars_to_display
        .diff-comment-avatar-holders
          - discussion.notes.take(avatars_to_display).each do |note|
            %img.avatar.diff-comment-avatar.has-tooltip.js-diff-comment-avatar{ src: note.author.avatar_url,
              width: 19,
              height: 19,
              class: "js-diff-note-author-image-#{note.id}",
              title: "#{note.author.name}: #{truncate(note.note, length: 17)}",
              role: "button",
              data: { container: "body", placement: "top" } }
          %span.diff-comments-more-count.has-tooltip{ role: "button",
            class: ("hidden" if discussion.notes.size <= avatars_to_display),
            title: "#{comments_left_over} more #{'comment'.pluralize(comments_left_over)}",
            data: { count: comments_left_over, container: "body", placement: "top" } }
    %td.new_line.diff-line-num{ class: type, data: { linenumber: line.new_pos } }
      - link_text = type == "old" ? " " : line.new_pos
      - if plain
        = link_text
      - else
        %a{href: "##{line_code}", data: { linenumber: link_text }}
    %td.line_content.noteable_line{ class: type, data: (diff_view_line_data(line_code, diff_file.position(line), type) unless plain) }<
      - if email
        %pre= diff_line_content(line.text)
      - else
        = diff_line_content(line.text)

- if discussion
  - discussion_expanded = local_assigns.fetch(:discussion_expanded, discussion.expanded?)
  = render "discussions/diff_discussion", discussion: discussion, expanded: discussion_expanded
