= form_for [@project.namespace.becomes(Namespace), @project, @trigger] do |f|
  = form_errors(@trigger)

  .form-group
    = f.label :key, "Description", class: "label-light"
    = f.text_field :description, class: "form-control", required: true
  = f.submit btn_text, class: "btn btn-save"
