%tr
  %td
    - if trigger.can_show_token?(current_user)
      %span= trigger.token
      = clipboard_button(clipboard_text: trigger.token, title: "Copy trigger token to clipboard")
    - else
      %span= truncate(trigger.token, length: 11)

    .label-container
      - if trigger.owner.blank?
        %span.label.label-primary legacy
      - elsif !trigger.valid?
        %span.label.label-danger invalid

  %td
    = trigger.description

  %td
    - if trigger.owner
      = user_avatar(user: trigger.owner, size: 20)

  %td
    - if trigger.last_used
      #{time_ago_in_words(trigger.last_used)} ago
    - else
      Never

  %td.text-right
    = link_to 'Take ownership', take_namespace_project_trigger_path(@project.namespace, @project, trigger), data: { confirm: 'Are you sure?'}, method: :post, class: "btn btn-warning btn-sm"
    = link_to 'Edit', edit_namespace_project_trigger_path(@project.namespace, @project, trigger), method: :get, class: "btn btn-warning btn-sm"
    = link_to 'Revoke', namespace_project_trigger_path(@project.namespace, @project, trigger), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-warning btn-sm"
