%tr
  %td
    - if trigger.can_show_token?(current_user)
      %span= trigger.token
      = clipboard_button(clipboard_text: trigger.token, title: "Copy trigger token to clipboard")
    - else
      %span= truncate(trigger.token, length: 11)

    .label-container
      - if trigger.owner.blank?
        %span.label.label-primary legacy
      - elsif !trigger.valid?
        - invalid_tooltip = trigger.owner.blank ? "Trigger user is no longer existent" : "Trigger user has insufficient permissions to project"
        %span.label.label-danger.has-tooltip{ title: invalid_tooltip } invalid

  %td
    - if trigger.description? && trigger.description.length > 15
      %span.has-tooltip{ title: trigger.description }= truncate(trigger.description, length: 15)
    - else
      = trigger.description

  %td
    - if trigger.owner
      = user_avatar(user: trigger.owner, size: 20)

  %td
    - if trigger.last_used
      #{time_ago_in_words(trigger.last_used)} ago
    - else
      Never

  %td.text-right.trigger-actions
    = link_to 'Take ownership', take_namespace_project_trigger_path(@project.namespace, @project, trigger), data: { confirm: 'Are you sure?'}, method: :post, class: "btn btn-default btn-sm"
    = link_to edit_namespace_project_trigger_path(@project.namespace, @project, trigger), method: :get, class: "btn btn-default btn-sm" do
      %i.fa.fa-pencil
    = link_to namespace_project_trigger_path(@project.namespace, @project, trigger), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-default btn-warning btn-sm" do
      %i.fa.fa-trash
